header {
  width: 100%;
  height: 80px;
  background-color: #d86af3;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: white;
}

main {
  margin: 40px;
}

.new-task-panel {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.new-task-panel h2 {
  color: #3d0e49;
}

.new-task-panel input {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.add-button {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  background-color: #d86af3;
  padding: 10px 20px;
  border: none;
}

.add-button:hover {
  background-color: #f5ccff;
  color: #3d0e49;
  cursor: pointer;
  transition: 0.2s;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  max-width: 1400px;
  margin-top: 30px;
  min-width: 100px;
  min-height: 100px;
}

.task-type {
  font-size: 18px;
  padding: 20px 30px;
  justify-self: start;
  border-radius: 10px;
}

.tasks-column-backlog .task-type {
  background-color: #dab8fa;
  color: #5b2161;
}

.tasks-column-processing .task-type {
  background-color: #e19ae7;
  color: #5b2161;
}

.tasks-column-done .task-type {
  background-color: #f0a0ba;
  color: #5b2161;
}

.tasks-column-bin .task-type {
  background-color: #d66060;
  color: #470a0a;
}

.task__body p {
  margin: 0;
}

.task-list {
  list-style: none;
  padding-left: 0;
}

.task-list .task-li {
  max-width: 225px;
  font-size: 16px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}

.task-li.backlog {
  border-left: 5px solid #dab8fa;
}

.task-li.processing {
  border-left: 5px solid #e19ae7;
}

.task-li.done {
  border-left: 5px solid #f0a0ba;
}

.task-li.bin {
  border-left: 5px solid #d66060;
}

.task-list .empty-task {
  max-width: 225px;
  font-size: 16px;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}

.empty-task.backlog {
  color: #dab8fa;
  border: 2px solid #dab8fa;
}

.empty-task.processing {
  color: #e19ae7;
  border: 2px solid #e19ae7;
}

.empty-task.done {
  color: #f0a0ba;
  border: 2px solid #f0a0ba;
}

.empty-task.bin {
  color: #d66060;
  border: 2px solid #d66060;
}

.task__input,
.task__edit {
  display: none;
}

.clear-button {
  background-color: #882727;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px;
  border: none;
  width: 100%;
  max-width: 270px;
}

.clear-button:hover {
  background-color: #ebcaca;
  color: #882727;
  cursor: pointer;
  transition: 0.2s;
}